<li>
    <% if(locals.user && (locals.user.id==post.user.id)) {%>
         <small>
          <a href="/posts/destroy/<%= post.id %>">X</a>
         </small> 
        <% } %>
    <p>
        <%= post.content %> <br />
        <%= post.user.name %>
    </p>
    <div class="post-comments">
        <% if(locals.user) { %>
          <form action="/comments/create" method="POST">
            <input
              type="text"
              name="content"
              placeholder="Add Comments ...."
              required
            />
            <input type="hidden" name="post" value="<%= post._id %>" />
            <input type="submit" value="Add Comment" />
          </form>
          <% } %>
        <div class="post-comments-list">
            <ul id="post_comments_<%= post._id %>">
                <% for(comment of post.comments) { %>
                    <%- include('_comments') -%>
                <% } %>
            </ul>
        </div>
    </div>
</li>
