<li id="post-<%= post._id %>">
    <% if(locals.user && (locals.user.id == post.userId.id)) {%>
         <small>
          <a class="delete-post-button" href="/posts/destroy/<%= post._id %>">X</a>
         </small>
        <% } %>
    <p>
        <%= post.content %> <br />
        <%= post.userId.name %>
        <!-- display.name only if post.userId exists, if it does not do nothing -->
    </p>
    <div id="post-comments">
        <% if(locals.user) { %>
          <form action="/comments/create" method="POST">
            <input
              type="text"
              name="content"
              placeholder="Add Comments ...."
              required
            />
            <input type="hidden" name="post" value="<%= post._id %>" />
            <input type="submit" value="Add Comment" />
          </form>
          <% } %>
        <div id="post-comments-list">
            <ul id="post_comments_<%= post._id %>">
                <% for(comment of post.comments) { %>
                    <%- include('_comments') -%>
                <% } %>
            </ul>
        </div>
    </div>
</li>
