<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>
        <main id="layout-main">
            <!-- this is main body/wall/timeline where you see all your posts, friends and other things     -->
            <%- body %>
        </main>
        
        <%- include('_footer'); %>
        <%- script %>
    </body>
</html>